In [11]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser

In [12]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [13]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [14]:
#news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

#news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."

In [15]:
html = browser.html
soup = bs(html, 'html.parser')

In [24]:
news_title_div = soup.find('div', class_='list_text').find('div', class_='content_title')

In [25]:
news_title = news_title_div.get_text()

In [26]:
news_title

'AI Is Helping Scientists Discover Fresh Craters on Mars'

In [27]:
# for something in title_text:
#     content_title = something.find_all('div', class_='content_title')
#     article_title = something.get_text()
#     print(article_title)

In [28]:
news_p_div = soup.find('div', class_='article_teaser_body')

In [29]:
news_p_div

In [30]:
news_p = news_p_div.get_text()

In [31]:
news_p

"It's the first time machine learning has been used to find previously unknown craters on the Red Planet."

In [44]:
#JPL Mars Space Images - Featured Image
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [45]:
url_jpl = 'https://www.jpl.nasa.gov/spaceimages//?search=&category=Mars'
browser.visit(url_jpl)

In [46]:
html = browser.html
soup = bs(html, 'html.parser')

In [58]:
image_url_a = soup.find('a', class_='button fancybox')

In [71]:
image_url_a

In [60]:
extention = image_url_a.get("data-link")

AttributeError: 'NoneType' object has no attribute 'get'

In [61]:
base + "/spaceimages/details.php?id=PIA08003"

'https://www.jpl.nasa.gov/spaceimages/details.php?id=PIA08003'

In [62]:
base = 'https://www.jpl.nasa.gov'

In [63]:
image_url_link = base + extention
browser.visit(image_url_link)

In [64]:
html = browser.html
soup = bs(html, 'html.parser')

In [65]:
image = soup.find_all('div', class_="buttons")

In [66]:
print(image)

[]

In [67]:
img_url_rel = soup.select_one('figure.lede a img').get("src")

In [68]:
img_url_rel

'/spaceimages/images/largesize/PIA13911_hires.jpg'

In [69]:
featured_img_url = base + img_url_rel

In [70]:
featured_img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA13911_hires.jpg'

In [20]:
#Mars Facts
url = 'https://space-facts.com/mars/'

In [21]:
tables = pd.read_html(url)

In [22]:
type(tables)

list

In [23]:
list

list

In [24]:
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [25]:
df=tables[0]

In [26]:
df.columns = ['Description', 'Mars']

In [27]:
df.head()

            Description                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [28]:
df.set_index('Description', inplace=True)
df.head()

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [29]:
df.to_html('table.html')

In [30]:
#Mars Hemispheres
hemisphere_image_urls = [
    {"title": "Cerberus Hemisphere Enhanced", "img_url": "https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg"},
    {"title": "Schiaparelli Hemisphere Enhanced", "img_url": "https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg"},
    {"title": "Syrtis Major Hemisphere Enhanced", "img_url": "https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg"},
    {"title": "Valles Marineris Hemisphere Enhanced", "img_url": "https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg"},
]