In [44]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser

In [121]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [18]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [19]:
#news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

#news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."

In [20]:
html = browser.html
soup = bs(html, 'html.parser')

In [21]:
news_title_div = soup.find('div', class_='list_text').find('div', class_='content_title')

In [22]:
news_title = news_title_div.get_text()

In [23]:
news_title

'AI Is Helping Scientists Discover Fresh Craters on Mars'

In [24]:
# for something in title_text:
#     content_title = something.find_all('div', class_='content_title')
#     article_title = something.get_text()
#     print(article_title)

In [25]:
news_p_div = soup.find('div', class_='article_teaser_body')

In [26]:
news_p_div

In [27]:
news_p = news_p_div.get_text()

In [28]:
news_p

"It's the first time machine learning has been used to find previously unknown craters on the Red Planet."

In [46]:
#JPL Mars Space Images - Featured Image
#visit url
url_jpl = 'https://www.jpl.nasa.gov/spaceimages//?search=&category=Mars'
browser.visit(url_jpl)

In [47]:
#find image button
image = browser.find_by_id('full_image')
image.click()

In [48]:
#find more info button
browser.is_element_present_by_text('more info', wait_time=1)

False

In [49]:
find_button = browser.links.find_by_partial_text('more info')
find_button.click()

In [50]:
html = browser.html
soup = bs(html, 'html.parser')

In [70]:
image_url_a = soup.find('figure', class_='lede').find('img', class_='main_image').get('src')

In [71]:
image_url_a

'/spaceimages/images/largesize/PIA16220_hires.jpg'

In [72]:
base = 'https://www.jpl.nasa.gov'

In [76]:
f_link_url = base + image_url_a
browser.visit(image_url_link)

In [77]:
f_link_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16220_hires.jpg'

In [89]:
#Mars Facts
table_url = 'https://space-facts.com/mars/'
browser.visit(table_url)

In [90]:
tables = pd.read_html(table_url)

In [91]:
type(tables)

list

In [92]:
list

list

In [93]:
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [94]:
df=tables[0]

In [95]:
df.columns = ['Description', 'Mars']

In [96]:
df.head()

            Description                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [97]:
df.set_index('Description', inplace=True)
df.head()

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [98]:
df.to_html('table.html')

In [111]:
#Mars Hemispheres
hem_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hem_url)

In [ ]:
base = 'https://astrogeology.usgs.gov/'

In [112]:
#Cerberus Hemisphere Enhanced
cer_hem = browser.links.find_by_partial_text('Cerberus Hemisphere Enhanced')
cer_hem.click()

In [113]:
html = browser.html
soup = bs(html, 'html.parser')

In [114]:
cer_hem_url = soup.find('img', class_='wide-image').get('src')

In [116]:
mars_cer = base + cer_hem_url

In [117]:
mars_cer

'https://www.jpl.nasa.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [122]:
#Schiaparelli Hemisphere Enhanced
sch_hem = browser.links.find_by_partial_text('Schiaparelli Hemisphere Enhanced')
sch_hem.click()

ElementDoesNotExist: no elements could be found with link by partial text "Schiaparelli Hemisphere Enhanced"

In [ ]:
html = browser.html
soup = bs(html, 'html.parser')

In [ ]:
sch_hem_url = soup.find('img', class_='wide-image').get('src')

In [ ]:
mars_sch = base + cer_hem_url

In [88]:


hemisphere_image_urls = [
    {"title": "Cerberus Hemisphere Enhanced", "img_url": mars_cer},
    {"title": "Schiaparelli Hemisphere Enhanced", "img_url": },
    {"title": "Syrtis Major Hemisphere Enhanced", "img_url": },
    {"title": "Valles Marineris Hemisphere Enhanced", "img_url": },
]