In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser

In [64]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [65]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [18]:
#news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

#news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."

In [19]:
html = browser.html
soup = bs(html, 'html.parser')

In [53]:
news_title_div = soup.find('div', class_='content_title')

In [54]:
news_title_div

In [55]:
news_title = news_title_div.get_text()

In [56]:
news_title

'Mars Now'

In [48]:
# for something in title_text:
#     content_title = something.find_all('div', class_='content_title')
#     article_title = something.get_text()
#     print(article_title)

In [57]:
news_p_div = soup.find('div', class_='article_teaser_body')

In [58]:
news_p_div

In [59]:
news_p = news_p_div.get_text()

In [60]:
news_p

'Perseverance is one of a few Mars spacecraft carrying laser retroreflectors. The devices could provide new science and safer Mars landings in the future.'

In [77]:
#JPL Mars Space Images - Featured Image
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [78]:
url_jpl = 'https://www.jpl.nasa.gov/spaceimages//?search=&category=Mars'
browser.visit(url_jpl)

In [79]:
html = browser.html
soup = bs(html, 'html.parser')

In [2]:
#Mars Facts
url = 'https://space-facts.com/mars/'

In [3]:
tables = pd.read_html(url)

In [4]:
type(tables)

list

In [5]:
list

list

In [6]:
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [8]:
df=tables[0]

In [9]:
df.columns = ['Description', 'Mars']

In [10]:
df.head()

            Description                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [11]:
df.set_index('Description', inplace=True)
df.head()

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [13]:
df.to_html('table.html')

In [ ]:
#Mars Hemispheres
hemisphere_image_urls = [
    {"title": "Cerberus Hemisphere Enhanced", "img_url": "https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg"},
    {"title": "Schiaparelli Hemisphere Enhanced", "img_url": "https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg"},
    {"title": "Syrtis Major Hemisphere Enhanced", "img_url": "https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg"},
    {"title": "Valles Marineris Hemisphere Enhanced", "img_url": "https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg"},
]