In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
#news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

#news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."

In [5]:
html = browser.html
soup = bs(html, 'html.parser')

In [6]:
news_title_div = soup.find('div', class_='list_text').find('div', class_='content_title')

In [7]:
news_title = news_title_div.get_text()

In [8]:
news_title

'AI Is Helping Scientists Discover Fresh Craters on Mars'

In [9]:
# for something in title_text:
#     content_title = something.find_all('div', class_='content_title')
#     article_title = something.get_text()
#     print(article_title)

In [10]:
news_p_div = soup.find('div', class_='article_teaser_body')

In [11]:
news_p_div

In [12]:
news_p = news_p_div.get_text()

In [13]:
news_p

"It's the first time machine learning has been used to find previously unknown craters on the Red Planet."

In [14]:
#JPL Mars Space Images - Featured Image
#visit url
url_jpl = 'https://www.jpl.nasa.gov/spaceimages//?search=&category=Mars'
browser.visit(url_jpl)

In [15]:
#find image button
image = browser.find_by_id('full_image')
image.click()

In [16]:
#find more info button
browser.is_element_present_by_text('more info', wait_time=1)

False

In [17]:
find_button = browser.links.find_by_partial_text('more info')
find_button.click()

In [18]:
html = browser.html
soup = bs(html, 'html.parser')

In [19]:
image_url_a = soup.find('figure', class_='lede').find('img', class_='main_image').get('src')

In [20]:
image_url_a

'/spaceimages/images/largesize/PIA19083_hires.jpg'

In [21]:
base = 'https://www.jpl.nasa.gov'

In [23]:
f_link_url = base + image_url_a
browser.visit(f_link_url)

In [24]:
f_link_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19083_hires.jpg'

In [25]:
#Mars Facts
table_url = 'https://space-facts.com/mars/'
browser.visit(table_url)

In [26]:
tables = pd.read_html(table_url)

In [27]:
type(tables)

list

In [28]:
list

list

In [29]:
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:
df=tables[0]

In [31]:
df.columns = ['Description', 'Mars']

In [32]:
df.head()

            Description                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [33]:
df.set_index('Description', inplace=True)
df.head()

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [34]:
df.to_html('table.html')

In [35]:
#Mars Hemispheres
hem_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hem_url)

In [36]:
base = 'https://astrogeology.usgs.gov/'

In [37]:
#Cerberus Hemisphere Enhanced
cer_hem = browser.links.find_by_partial_text('Cerberus Hemisphere Enhanced')
cer_hem.click()

In [38]:
html = browser.html
soup = bs(html, 'html.parser')

In [39]:
cer_hem_url = soup.find('img', class_='wide-image').get('src')

In [40]:
mars_cer = base + cer_hem_url

In [41]:
mars_cer

'https://astrogeology.usgs.gov//cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [63]:
#Schiaparelli Hemisphere Enhanced
sch_hem = browser.links.find_by_partial_text('Schiaparelli Hemisphere Enhanced')
sch_hem.click()

In [64]:
html = browser.html
soup = bs(html, 'html.parser')

In [65]:
sch_hem_url = soup.find('img', class_='wide-image').get('src')

In [66]:
mars_sch = base + cer_hem_url

In [67]:
mars_sch

'https://astrogeology.usgs.gov//cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [45]:
#Syrtis Major Hemisphere Enhanced
syr_hem = browser.links.find_by_partial_text('Syrtis Major Hemisphere Enhanced')
syr_hem.click()

In [46]:
html = browser.html
soup = bs(html, 'html.parser')

In [47]:
syr_hem_url = soup.find('img', class_='wide-image').get('src')

In [61]:
mars_syr = base + cer_hem_url

In [62]:
mars_syr

'https://astrogeology.usgs.gov//cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [68]:
#Valles Marineris Hemisphere Enhanced
val_hem = browser.links.find_by_partial_text('Valles Marineris Hemisphere Enhanced')
val_hem.click()

In [69]:
html = browser.html
soup = bs(html, 'html.parser')

In [70]:
val_hem_url = soup.find('img', class_='wide-image').get('src')

In [71]:
mars_val = base + val_hem_url

In [72]:
mars_val

'https://astrogeology.usgs.gov//cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'

In [73]:
hemisphere_image_urls = [
    {"title": "Cerberus Hemisphere Enhanced", "img_url": mars_cer},
    {"title": "Schiaparelli Hemisphere Enhanced", "img_url": mars_sch},
    {"title": "Syrtis Major Hemisphere Enhanced", "img_url": mars_syr},
    {"title": "Valles Marineris Hemisphere Enhanced", "img_url": mars_val},
]

In [74]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]